<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="initStudent"
       default-destroy-method="destroyStudent"
>

    <!-- init-method：指定初始化的方法
         destroy-method：指定销毁的方法 -->
    <bean id="student" class="com.neo.springbean.Student">
        <property name="name" value="LINJIE"></property>
    </bean>
    <!--配置bean的后置处理器-->
    <bean class="com.neo.springbean.MyBeanPostProcessor"/>
</beans>
